Node Estudos/NodeRed/flows.json
[
    {
        "id": "fb90419b2eae8818",
        "type": "tab",
        "label": "Primeira Aula",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8d2866cbb5a27fb",
        "type": "tab",
        "label": "Função com mais saidas",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3018d3e8abfb470d",
        "type": "tab",
        "label": "Usando No Baixado",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7507cc9908101a3",
        "type": "tab",
        "label": "Fluxo local",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "162be5549dd5ff54",
        "type": "tab",
        "label": "Fluxo global",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69a0122fef4a215f",
        "type": "tab",
        "label": "Manipulando mensagem",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f74e9a4e5df5144f",
        "type": "tab",
        "label": "Switch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1ded30353ed902a9",
        "type": "tab",
        "label": "Change e Template",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f83f3e080d69391",
        "type": "tab",
        "label": "Range",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a2f23489ef5d3269",
        "type": "tab",
        "label": "Delay",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2843fd23ec07b855",
        "type": "tab",
        "label": "Trigger",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "19a3dd29b3595015",
        "type": "tab",
        "label": "HTTP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e24a8c6d1c785660",
        "type": "tab",
        "label": "Parametro HTTP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd11844629048cc3",
        "type": "tab",
        "label": "Criando API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "812b547930bae62f",
        "type": "tab",
        "label": "HTTP Parametros externo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4fcbb98a5169e853",
        "type": "tab",
        "label": "Cabeçalho",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0201760cc56fb391",
        "type": "tab",
        "label": "API Retorna JSON",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0806ba2f6fd38585",
        "type": "tab",
        "label": "Retornar Arquivo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e93b16ccd175b548",
        "type": "tab",
        "label": "Enviar Formulario",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0568625230131ad1",
        "type": "tab",
        "label": "Cookies",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2542fe24d2ea32fc",
        "type": "tab",
        "label": "Requisição HTTP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "668162e8c7280d73",
        "type": "tab",
        "label": "HTTP Dinamico",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2046dc6538d6377a",
        "type": "tab",
        "label": "Divisão e Junção",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "481db619cc12e4cd",
        "type": "tab",
        "label": "Banco de Dados",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8ccc0df5449f308",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ba4f23f2e8083025",
        "type": "tab",
        "label": "Comparação de peças",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c1aa33cd78a7093",
        "type": "tab",
        "label": "Projeto",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cfea689c951e1a35",
        "type": "tab",
        "label": "Back-End com NodeRed",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2607909540dc9bb0",
        "type": "tab",
        "label": "Javascript no node",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "02e4bb26894110ae",
        "type": "tab",
        "label": "Curso de javascript",
        "disabled": true,
        "locked": true,
        "info": "",
        "env": []
    },
    {
        "id": "303cdc2011633dc6",
        "type": "tab",
        "label": "Agenda",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90b3b8ee26b78526",
        "type": "tab",
        "label": "Estoque - Colaboradores",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a45fc121946bb817",
        "type": "tab",
        "label": "Estoque - Fornecedores",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f411f9ddb115f5cf",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "estudosql",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "0a516a1d9c12df29",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "bba9265b0ea62d4a",
        "type": "ui_tab",
        "name": "Introdução",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8c1e7f3e69ad1ce1",
        "type": "ui_group",
        "name": "Curso",
        "tab": "bba9265b0ea62d4a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27e9fa657f6599f3",
        "type": "ui_tab",
        "name": "Graficos",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e7b7f9a6764dbd87",
        "type": "ui_group",
        "name": "Grafico 1",
        "tab": "27e9fa657f6599f3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3959b08164586c9f",
        "type": "ui_tab",
        "name": "Comparação de peças",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ff69a9f76b94b8e7",
        "type": "ui_group",
        "name": "Peças Boas",
        "tab": "3959b08164586c9f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01ade19b9bb2c24a",
        "type": "ui_group",
        "name": "Peças Ruins",
        "tab": "3959b08164586c9f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "351c558657f897b6",
        "type": "ui_group",
        "name": "Controles",
        "tab": "3959b08164586c9f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "516320bcc5fab6ae",
        "type": "MySQLdatabase",
        "name": "xamp mysql",
        "host": "127.0.0.1",
        "port": "3307",
        "db": "cursojavascript",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "eaa9d8d67d3d67cc",
        "type": "MySQLdatabase",
        "name": "Agenda",
        "host": "127.0.0.1",
        "port": "3308",
        "db": "agenda1_js",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "a9f8cb086f96e4e8",
        "type": "MySQLdatabase",
        "name": "Estoque",
        "host": "127.0.0.1",
        "port": "3308",
        "db": "estoque",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "7206c457ccef264d",
        "type": "inject",
        "z": "fb90419b2eae8818",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "curso",
                "v": "NodeRed",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "4a61f9c3bd989add"
            ]
        ]
    },
    {
        "id": "959a1c71ffbf22fd",
        "type": "debug",
        "z": "fb90419b2eae8818",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "4a61f9c3bd989add",
        "type": "function",
        "z": "fb90419b2eae8818",
        "name": "function 1",
        "func": "let data = new Date()\nmsg.payload = data.toDateString()\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 40,
        "wires": [
            [
                "959a1c71ffbf22fd"
            ]
        ]
    },
    {
        "id": "d50c3fe0d6687353",
        "type": "inject",
        "z": "a8d2866cbb5a27fb",
        "name": "Entada 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "entrada 1",
        "payloadType": "str",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "053e74ee210fcea6"
            ]
        ]
    },
    {
        "id": "2738da74c235c2bd",
        "type": "inject",
        "z": "a8d2866cbb5a27fb",
        "name": "Entrada 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "entrada 2",
        "payloadType": "str",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "053e74ee210fcea6"
            ]
        ]
    },
    {
        "id": "053e74ee210fcea6",
        "type": "function",
        "z": "a8d2866cbb5a27fb",
        "name": "Processo",
        "func": "if(msg.payload == \"entrada 1\"){\n    msg.payload=\"S1\"\n    return [msg,null]\n}else if(msg.payload == \"entrada 2\"){\n    msg.payload=\"S2\"\n    return [null,msg]\n}\nreturn msg;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 80,
        "wires": [
            [
                "14a90b056bf3dc61"
            ],
            [
                "f42eb4d90354cda9"
            ]
        ]
    },
    {
        "id": "14a90b056bf3dc61",
        "type": "debug",
        "z": "a8d2866cbb5a27fb",
        "name": "Saida 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "f42eb4d90354cda9",
        "type": "debug",
        "z": "a8d2866cbb5a27fb",
        "name": "Saida 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "ab4def9cccecb2b1",
        "type": "inject",
        "z": "a8d2866cbb5a27fb",
        "name": "Entrada 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Numero Aleatorio",
        "payloadType": "str",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "a843122d07cb7792"
            ]
        ]
    },
    {
        "id": "a843122d07cb7792",
        "type": "function",
        "z": "a8d2866cbb5a27fb",
        "name": "Processo",
        "func": "msg.payload = Math.random()*30\nif(msg.payload <= 10){\n    return [msg, null, null]\n}else if(msg.payload <= 20){\n    return [null, msg, null]\n}else if (msg.payload <= 30){\n    return [null, null, msg]\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 260,
        "wires": [
            [
                "c1ed3dff0df1b9e1"
            ],
            [
                "dbd932d5c47665a6"
            ],
            [
                "65d6855b4db4b710"
            ]
        ]
    },
    {
        "id": "c1ed3dff0df1b9e1",
        "type": "debug",
        "z": "a8d2866cbb5a27fb",
        "name": "Saida 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "dbd932d5c47665a6",
        "type": "debug",
        "z": "a8d2866cbb5a27fb",
        "name": "Saida 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 260,
        "wires": []
    },
    {
        "id": "65d6855b4db4b710",
        "type": "debug",
        "z": "a8d2866cbb5a27fb",
        "name": "Saida 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 300,
        "wires": []
    },
    {
        "id": "d6e24fe6633da613",
        "type": "function",
        "z": "3018d3e8abfb470d",
        "name": "Soma mais 10",
        "func": "msg.numero = msg.numero + 10\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 180,
        "wires": [
            [
                "740c7a32d2996e26"
            ]
        ]
    },
    {
        "id": "646dc0a19c349b15",
        "type": "inject",
        "z": "3018d3e8abfb470d",
        "name": "",
        "props": [
            {
                "p": "numero",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "bb75aeb389ef2f03"
            ]
        ]
    },
    {
        "id": "bb75aeb389ef2f03",
        "type": "random",
        "z": "3018d3e8abfb470d",
        "name": "De 0 a 50",
        "low": "0",
        "high": "10",
        "inte": "true",
        "property": "numero",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "d6e24fe6633da613"
            ]
        ]
    },
    {
        "id": "740c7a32d2996e26",
        "type": "debug",
        "z": "3018d3e8abfb470d",
        "name": "resposta",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "numero",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 240,
        "wires": []
    },
    {
        "id": "41c52e966bbe3887",
        "type": "inject",
        "z": "c7507cc9908101a3",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "dd0e7bcb45524854"
            ]
        ]
    },
    {
        "id": "dd0e7bcb45524854",
        "type": "function",
        "z": "c7507cc9908101a3",
        "name": "Contador",
        "func": "var cont = context.get('contador') || 0;\ncont++;\ncontext.set('contador',cont);\nmsg.payload = cont;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 100,
        "wires": [
            [
                "e70d2bb3edc7f2bc"
            ]
        ]
    },
    {
        "id": "e70d2bb3edc7f2bc",
        "type": "debug",
        "z": "c7507cc9908101a3",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "3a417774f6b7e231",
        "type": "inject",
        "z": "c7507cc9908101a3",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "b9e25540f120e8bf"
            ]
        ]
    },
    {
        "id": "b9e25540f120e8bf",
        "type": "function",
        "z": "c7507cc9908101a3",
        "name": "Contador var fluxo",
        "func": "var cont = flow.get('contador') || 0;\ncont++;\nflow.set('contador',cont);\nmsg.payload = cont;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 220,
        "wires": [
            [
                "72d6e06cbdb2f3ec"
            ]
        ]
    },
    {
        "id": "72d6e06cbdb2f3ec",
        "type": "debug",
        "z": "c7507cc9908101a3",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "53a8b1ab373055e0",
        "type": "inject",
        "z": "c7507cc9908101a3",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "e89399454dccb5e5"
            ]
        ]
    },
    {
        "id": "e89399454dccb5e5",
        "type": "function",
        "z": "c7507cc9908101a3",
        "name": "Contador",
        "func": "var cont = context.get('contador') || 0;\ncont++;\ncontext.set('contador',cont);\nmsg.payload = cont;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "9f981e57f9969f06"
            ]
        ]
    },
    {
        "id": "9f981e57f9969f06",
        "type": "debug",
        "z": "c7507cc9908101a3",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "e0c22584d30ea39b",
        "type": "inject",
        "z": "c7507cc9908101a3",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "01fdcd686dfc0735"
            ]
        ]
    },
    {
        "id": "01fdcd686dfc0735",
        "type": "function",
        "z": "c7507cc9908101a3",
        "name": "Contador var fluxo",
        "func": "var cont = flow.get('contador') || 0;\ncont++;\nflow.set('contador',cont);\nmsg.payload = cont;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 260,
        "wires": [
            [
                "8f20e7728f648659"
            ]
        ]
    },
    {
        "id": "8f20e7728f648659",
        "type": "debug",
        "z": "c7507cc9908101a3",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 260,
        "wires": []
    },
    {
        "id": "d3c9b38c52d15f0a",
        "type": "inject",
        "z": "c7507cc9908101a3",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "5b1df00420a328c4"
            ]
        ]
    },
    {
        "id": "5b1df00420a328c4",
        "type": "function",
        "z": "c7507cc9908101a3",
        "name": "Contador var global",
        "func": "var cont = global.get('contador') || 0;\ncont++;\nglobal.set('contador',cont);\nmsg.payload = cont;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 340,
        "wires": [
            [
                "b016a96d1124d8fa"
            ]
        ]
    },
    {
        "id": "b016a96d1124d8fa",
        "type": "debug",
        "z": "c7507cc9908101a3",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "7faebbcf413a32f1",
        "type": "inject",
        "z": "162be5549dd5ff54",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "136c100f09fdb581"
            ]
        ]
    },
    {
        "id": "136c100f09fdb581",
        "type": "function",
        "z": "162be5549dd5ff54",
        "name": "Contador var global",
        "func": "var cont = global.get('contador') || 0;\ncont++;\nglobal.set('contador',cont);\nmsg.payload = cont;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 60,
        "wires": [
            [
                "8293f33190025def"
            ]
        ]
    },
    {
        "id": "8293f33190025def",
        "type": "debug",
        "z": "162be5549dd5ff54",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "cd2ef33a3d0e36ea",
        "type": "inject",
        "z": "69a0122fef4a215f",
        "name": "inicio",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "a7f9f84f6c7247b0"
            ]
        ]
    },
    {
        "id": "a7f9f84f6c7247b0",
        "type": "function",
        "z": "69a0122fef4a215f",
        "name": "Criando JSON",
        "func": "var doc = {\n    \"nome\":\"Rafael\",\n    \"sobrenome\":\"Machado\",\n    \"curso\":\"Node RED\",\n    \"telefone\":[\"9999-9999\",\"8888-8888\",\"7777-7777\"]\n}\nmsg.payload = doc\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 60,
        "wires": [
            [
                "adde29449abde043",
                "7a3e337b80532fa6"
            ]
        ]
    },
    {
        "id": "adde29449abde043",
        "type": "debug",
        "z": "69a0122fef4a215f",
        "name": "Pos 1 do telefone",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.telefone[1]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 40,
        "wires": []
    },
    {
        "id": "7a3e337b80532fa6",
        "type": "debug",
        "z": "69a0122fef4a215f",
        "name": "Nome",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.nome",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "0e1d2acd40081908",
        "type": "inject",
        "z": "f74e9a4e5df5144f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "45",
        "payloadType": "num",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "c23a046961dd7a3b"
            ]
        ]
    },
    {
        "id": "c23a046961dd7a3b",
        "type": "switch",
        "z": "f74e9a4e5df5144f",
        "name": "Entre os numero",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "30",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "31",
                "vt": "num",
                "v2": "59",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "60",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "d14a04f99710005c"
            ],
            [
                "be8406131fafefe0"
            ],
            [
                "fe3b5228169184c2"
            ]
        ]
    },
    {
        "id": "d14a04f99710005c",
        "type": "debug",
        "z": "f74e9a4e5df5144f",
        "name": "Saida 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "be8406131fafefe0",
        "type": "debug",
        "z": "f74e9a4e5df5144f",
        "name": "Saida 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "fe3b5228169184c2",
        "type": "debug",
        "z": "f74e9a4e5df5144f",
        "name": "Saida 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 220,
        "wires": []
    },
    {
        "id": "94fc90790a531f1e",
        "type": "inject",
        "z": "1ded30353ed902a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "2871cfd6bee89443"
            ]
        ]
    },
    {
        "id": "2871cfd6bee89443",
        "type": "switch",
        "z": "1ded30353ed902a9",
        "name": "Ver nota",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "7",
                "vt": "num",
                "v2": "10",
                "v2t": "num"
            },
            {
                "t": "lte",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "btwn",
                "v": "5",
                "vt": "num",
                "v2": "6",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 280,
        "y": 40,
        "wires": [
            [
                "8c23dee0a9b86cdc"
            ],
            [
                "f4ae34fd4a5241e5"
            ],
            [
                "afdd5cdcdebd3aa4"
            ]
        ]
    },
    {
        "id": "848bfb6a57d9edd0",
        "type": "debug",
        "z": "1ded30353ed902a9",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 360,
        "wires": []
    },
    {
        "id": "8c23dee0a9b86cdc",
        "type": "change",
        "z": "1ded30353ed902a9",
        "name": "Aprovado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Aprovado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "441a843ea624d5d6"
            ]
        ]
    },
    {
        "id": "f4ae34fd4a5241e5",
        "type": "change",
        "z": "1ded30353ed902a9",
        "name": "Reprovado",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Reprovado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "441a843ea624d5d6"
            ]
        ]
    },
    {
        "id": "afdd5cdcdebd3aa4",
        "type": "change",
        "z": "1ded30353ed902a9",
        "name": "Recuperação",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "para a Recuperação",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "441a843ea624d5d6"
            ]
        ]
    },
    {
        "id": "08aa8bb0a32fd6c0",
        "type": "inject",
        "z": "1ded30353ed902a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "2871cfd6bee89443"
            ]
        ]
    },
    {
        "id": "9d5bd404730a76be",
        "type": "inject",
        "z": "1ded30353ed902a9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8",
        "payloadType": "num",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "2871cfd6bee89443"
            ]
        ]
    },
    {
        "id": "441a843ea624d5d6",
        "type": "template",
        "z": "1ded30353ed902a9",
        "name": "Imprime uma msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "O aluno foi {{payload}}!",
        "output": "str",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "848bfb6a57d9edd0"
            ]
        ]
    },
    {
        "id": "0f46916636314bd9",
        "type": "range",
        "z": "9f83f3e080d69391",
        "minin": "0",
        "maxin": "10",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "f50e44cbbf52a52c"
            ]
        ]
    },
    {
        "id": "3bc87acb643e4a19",
        "type": "inject",
        "z": "9f83f3e080d69391",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "0f46916636314bd9"
            ]
        ]
    },
    {
        "id": "f50e44cbbf52a52c",
        "type": "debug",
        "z": "9f83f3e080d69391",
        "name": "Resutado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "b6884d016c8a7d41",
        "type": "inject",
        "z": "a2f23489ef5d3269",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Mensagem chegada a 5s de atraso",
        "payloadType": "str",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "7242ef7c8fa89981"
            ]
        ]
    },
    {
        "id": "2d99acb1b6ae4f1a",
        "type": "debug",
        "z": "a2f23489ef5d3269",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 150,
        "y": 220,
        "wires": []
    },
    {
        "id": "7242ef7c8fa89981",
        "type": "delay",
        "z": "a2f23489ef5d3269",
        "name": "Intervalo 5s",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "2d99acb1b6ae4f1a"
            ]
        ]
    },
    {
        "id": "0cd2bf86bf66a307",
        "type": "inject",
        "z": "2843fd23ec07b855",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Dispara",
        "payloadType": "str",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "a988ab1227943d7f"
            ]
        ]
    },
    {
        "id": "e611a54fe728b81a",
        "type": "debug",
        "z": "2843fd23ec07b855",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "a988ab1227943d7f",
        "type": "trigger",
        "z": "2843fd23ec07b855",
        "name": "",
        "op1": "Disparo",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "Parar",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "e611a54fe728b81a"
            ]
        ]
    },
    {
        "id": "da70d3dd6be3b6fc",
        "type": "inject",
        "z": "2843fd23ec07b855",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Parar",
        "payloadType": "str",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "a988ab1227943d7f"
            ]
        ]
    },
    {
        "id": "8312843879eeb09b",
        "type": "http in",
        "z": "19a3dd29b3595015",
        "name": "",
        "url": "/teste1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "7fa27d06749f09e9"
            ]
        ]
    },
    {
        "id": "798e2962abf14a95",
        "type": "http response",
        "z": "19a3dd29b3595015",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 310,
        "y": 100,
        "wires": []
    },
    {
        "id": "b59047bce1790b42",
        "type": "template",
        "z": "19a3dd29b3595015",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>NodeRED</title>\n    </head>\n    <body>\n        <h1>Rafael Machado</h1>\n        <h1>{{payload}}</h1>\n    </body>\n</html>",
        "output": "str",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "798e2962abf14a95"
            ]
        ]
    },
    {
        "id": "7fa27d06749f09e9",
        "type": "function",
        "z": "19a3dd29b3595015",
        "name": "funçaõ",
        "func": "msg.payload=\"Curso NodeRED\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 160,
        "wires": [
            [
                "b59047bce1790b42"
            ]
        ]
    },
    {
        "id": "7726a7beac7cfb8c",
        "type": "http in",
        "z": "e24a8c6d1c785660",
        "name": "",
        "url": "/aluno",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "c7fed7e89b9d4bc2"
            ]
        ]
    },
    {
        "id": "28daefd2ec3c4986",
        "type": "http response",
        "z": "e24a8c6d1c785660",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "0d5a039a2a54e7a6",
        "type": "template",
        "z": "e24a8c6d1c785660",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n    <head>\n        <title>NodeRED</title>\n    </head>\n    <body>\n        <h1>Rafael Machado</h1>\n        <h1>{{payload}}</h1>\n    </body>\n</html>",
        "output": "str",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "28daefd2ec3c4986"
            ]
        ]
    },
    {
        "id": "c7fed7e89b9d4bc2",
        "type": "function",
        "z": "e24a8c6d1c785660",
        "name": "funçaõ",
        "func": "\nmsg.payload=msg.req.query.curso\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 160,
        "wires": [
            [
                "0d5a039a2a54e7a6"
            ]
        ]
    },
    {
        "id": "cecbbbfe0183b4a5",
        "type": "http in",
        "z": "bd11844629048cc3",
        "name": "",
        "url": "/api/:nome/:idade/:profissao",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "c9b177d57aaf5c2b"
            ]
        ]
    },
    {
        "id": "25dbf5019373319a",
        "type": "http response",
        "z": "bd11844629048cc3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "c9b177d57aaf5c2b",
        "type": "template",
        "z": "bd11844629048cc3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Criando API</title>\n</head>\n<body>\n    <h1>Aluno</h1>\n    <h1>Mome: {{req.params.nome}}</h1>\n    <h1>Idade: {{req.params.idade}}</h1>\n    <h1>Profisão: {{req.params.profissao}}</h1>\n\n    <p></p>\n</body>\n</html>",
        "output": "str",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "25dbf5019373319a"
            ]
        ]
    },
    {
        "id": "f28de18856904376",
        "type": "inject",
        "z": "812b547930bae62f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "c128cfce590874eb"
            ]
        ]
    },
    {
        "id": "c128cfce590874eb",
        "type": "random",
        "z": "812b547930bae62f",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "de6a6a0241a4c264"
            ]
        ]
    },
    {
        "id": "4505f6101f86f55b",
        "type": "http in",
        "z": "812b547930bae62f",
        "name": "",
        "url": "/api1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 220,
        "wires": [
            [
                "1e5038474856605a"
            ]
        ]
    },
    {
        "id": "c4b80c426428d925",
        "type": "template",
        "z": "812b547930bae62f",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Numero: {{payload}} !",
        "output": "str",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "ee4a2ffd38c90f47"
            ]
        ]
    },
    {
        "id": "ee4a2ffd38c90f47",
        "type": "http response",
        "z": "812b547930bae62f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 310,
        "y": 300,
        "wires": []
    },
    {
        "id": "4df80e0dada2a93d",
        "type": "debug",
        "z": "812b547930bae62f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "de6a6a0241a4c264",
        "type": "change",
        "z": "812b547930bae62f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "4df80e0dada2a93d"
            ]
        ]
    },
    {
        "id": "1e5038474856605a",
        "type": "change",
        "z": "812b547930bae62f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "c4b80c426428d925"
            ]
        ]
    },
    {
        "id": "f29973c74d7149d8",
        "type": "http in",
        "z": "4fcbb98a5169e853",
        "name": "",
        "url": "/user",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "01ebaff2676d572d"
            ]
        ]
    },
    {
        "id": "846dcb0ffdad2fdd",
        "type": "http response",
        "z": "4fcbb98a5169e853",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "851defe231192aef",
        "type": "template",
        "z": "4fcbb98a5169e853",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"User Agent\": \"{{req.headers.user-agent}}\"}",
        "output": "str",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "846dcb0ffdad2fdd"
            ]
        ]
    },
    {
        "id": "01ebaff2676d572d",
        "type": "change",
        "z": "4fcbb98a5169e853",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.content.type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.access-control-allow-origim",
                "pt": "msg",
                "to": "*",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "851defe231192aef"
            ]
        ]
    },
    {
        "id": "509320ca5ba0f2f3",
        "type": "http in",
        "z": "0201760cc56fb391",
        "name": "",
        "url": "/api-json",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "169c81238b52ce5c"
            ]
        ]
    },
    {
        "id": "2fec96c42530d4e9",
        "type": "http response",
        "z": "0201760cc56fb391",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "169c81238b52ce5c",
        "type": "template",
        "z": "0201760cc56fb391",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"curso\":\"NodeRED\",\n    \"aluno\":\"NodeRED\",\n    \"ano\":\"2024\",\n    \"cursos\":[\"NodeRED\",\"react\",\"react-native\"]\n}",
        "output": "str",
        "x": 280,
        "y": 40,
        "wires": [
            [
                "2fec96c42530d4e9",
                "ef52b95963baab4b"
            ]
        ]
    },
    {
        "id": "19601e3d06862902",
        "type": "debug",
        "z": "0201760cc56fb391",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.cursos[2]",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "ef52b95963baab4b",
        "type": "json",
        "z": "0201760cc56fb391",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "19601e3d06862902"
            ]
        ]
    },
    {
        "id": "4740527ec54a619f",
        "type": "http in",
        "z": "0806ba2f6fd38585",
        "name": "",
        "url": "/api-logo-png",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "454463dc695a1135"
            ]
        ]
    },
    {
        "id": "52a3fec2ae84e1e9",
        "type": "http response",
        "z": "0806ba2f6fd38585",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 90,
        "y": 280,
        "wires": []
    },
    {
        "id": "454463dc695a1135",
        "type": "file in",
        "z": "0806ba2f6fd38585",
        "name": "",
        "filename": "C:\\Users\\rafin\\OneDrive\\Documentos\\GitHub\\Front-End Estudos\\Projeto01 Resp SEO\\images\\arrow.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "52a3fec2ae84e1e9"
            ]
        ]
    },
    {
        "id": "df4efcee2d5f7a0f",
        "type": "http in",
        "z": "0806ba2f6fd38585",
        "name": "",
        "url": "/api-logo.rar",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "6a38e3a338a97f01"
            ]
        ]
    },
    {
        "id": "8178354b67c05bb2",
        "type": "http response",
        "z": "0806ba2f6fd38585",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": ""
        },
        "x": 90,
        "y": 460,
        "wires": []
    },
    {
        "id": "6a38e3a338a97f01",
        "type": "file in",
        "z": "0806ba2f6fd38585",
        "name": "",
        "filename": "C:\\Users\\rafin\\OneDrive\\Documentos\\GitHub\\Front-End Estudos\\Projeto01 Resp SEO\\images\\header_bg.rar",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "8178354b67c05bb2"
            ]
        ]
    },
    {
        "id": "d52d51a249283736",
        "type": "http in",
        "z": "e93b16ccd175b548",
        "name": "",
        "url": "/get-form",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "d07de4e375fb80cc"
            ]
        ]
    },
    {
        "id": "b91b10ce39336aea",
        "type": "http response",
        "z": "e93b16ccd175b548",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 90,
        "y": 240,
        "wires": []
    },
    {
        "id": "d07de4e375fb80cc",
        "type": "template",
        "z": "e93b16ccd175b548",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pi-br\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Curso NodeRED</title>\n</head>\n<body>\n    <h1>Olá {{payload.nome}}</h1>\n</body>\n</html>",
        "output": "str",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "b91b10ce39336aea"
            ]
        ]
    },
    {
        "id": "474af5f5497f03ff",
        "type": "http in",
        "z": "e93b16ccd175b548",
        "name": "",
        "url": "/post-form",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "f550cbe5158f82c5"
            ]
        ]
    },
    {
        "id": "51d988c031ba4ff3",
        "type": "http response",
        "z": "e93b16ccd175b548",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 90,
        "y": 440,
        "wires": []
    },
    {
        "id": "f550cbe5158f82c5",
        "type": "template",
        "z": "e93b16ccd175b548",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Curso NodeRED</title>\n</head>\n<body>\n    <h1>Olá {{payload.nome}}</h1>\n</body>\n</html>",
        "output": "str",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "51d988c031ba4ff3"
            ]
        ]
    },
    {
        "id": "668a5a42407b6c44",
        "type": "http in",
        "z": "0568625230131ad1",
        "name": "",
        "url": "/api-cookies",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "274a153def305388"
            ]
        ]
    },
    {
        "id": "6ed0776f7dcefba5",
        "type": "http in",
        "z": "0568625230131ad1",
        "name": "",
        "url": "/api-cookies/add",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "90246adb89d46aad"
            ]
        ]
    },
    {
        "id": "b8d3ba3540836c00",
        "type": "http response",
        "z": "0568625230131ad1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "274a153def305388",
        "type": "function",
        "z": "0568625230131ad1",
        "name": "Buscar cookies",
        "func": "msg.payload = JSON.stringify(msg.req.cookies, null, 4);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "8ec67de4a195b119"
            ]
        ]
    },
    {
        "id": "90246adb89d46aad",
        "type": "function",
        "z": "0568625230131ad1",
        "name": "Criado cookies",
        "func": "msg.cookies = {};\nmsg.cookies[\"Curso NodeRED - \" + (Math.floor(Math.random()*1000))] = Date.now();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [
            [
                "fd711353e04b1e40"
            ]
        ]
    },
    {
        "id": "8ec67de4a195b119",
        "type": "template",
        "z": "0568625230131ad1",
        "name": "Cria a Pagina",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Cookies</title>\n</head>\n<body>\n    <h1>Cookies</h1>\n    <a href=\"http://127.0.0.1:1880/api-cookies/add\">Adicionar</a>\n    <pre>{{payload}}</pre>\n</body>\n</html>",
        "output": "str",
        "x": 520,
        "y": 120,
        "wires": [
            [
                "b8d3ba3540836c00"
            ]
        ]
    },
    {
        "id": "fd711353e04b1e40",
        "type": "change",
        "z": "0568625230131ad1",
        "name": "Direcionar cookies",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "302",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.location",
                "pt": "msg",
                "to": "/api-cookies",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 200,
        "wires": [
            [
                "b8d3ba3540836c00"
            ]
        ]
    },
    {
        "id": "3ab18c26bb5f09b1",
        "type": "inject",
        "z": "2542fe24d2ea32fc",
        "name": "Execulta",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "db25da8bf1e692cd"
            ]
        ]
    },
    {
        "id": "db25da8bf1e692cd",
        "type": "http request",
        "z": "2542fe24d2ea32fc",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://nodered.org/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 120,
        "y": 120,
        "wires": [
            [
                "a25f7f7d37695ddd"
            ]
        ]
    },
    {
        "id": "efbeb662dc5691bf",
        "type": "debug",
        "z": "2542fe24d2ea32fc",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "a25f7f7d37695ddd",
        "type": "html",
        "z": "2542fe24d2ea32fc",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": ".node-red-latest-version",
        "ret": "text",
        "as": "single",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "efbeb662dc5691bf"
            ]
        ]
    },
    {
        "id": "6607d5192fd8b7a0",
        "type": "inject",
        "z": "668162e8c7280d73",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "https://github.com/Rafael-Machado032",
        "payloadType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "8df38f3039b9381c"
            ]
        ]
    },
    {
        "id": "73fbf6c3a95acabe",
        "type": "debug",
        "z": "668162e8c7280d73",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "178064bed2fa9302",
        "type": "http request",
        "z": "668162e8c7280d73",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 120,
        "y": 240,
        "wires": [
            [
                "73fbf6c3a95acabe"
            ]
        ]
    },
    {
        "id": "8df38f3039b9381c",
        "type": "change",
        "z": "668162e8c7280d73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "178064bed2fa9302"
            ]
        ]
    },
    {
        "id": "af79a7081a404ffc",
        "type": "inject",
        "z": "668162e8c7280d73",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Rafael-Machado032",
        "payloadType": "str",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "c4419ab6088c64e1"
            ]
        ]
    },
    {
        "id": "a1e8bb50ca9fa47f",
        "type": "debug",
        "z": "668162e8c7280d73",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 400,
        "wires": []
    },
    {
        "id": "a0e9b103c6964a42",
        "type": "http request",
        "z": "668162e8c7280d73",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 120,
        "y": 480,
        "wires": [
            [
                "a1e8bb50ca9fa47f"
            ]
        ]
    },
    {
        "id": "c4419ab6088c64e1",
        "type": "change",
        "z": "668162e8c7280d73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://github.com/{{payload}}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "a0e9b103c6964a42"
            ]
        ]
    },
    {
        "id": "69401a3bcd513d7f",
        "type": "inject",
        "z": "668162e8c7280d73",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "estudo",
        "payloadType": "str",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "a2d7e1505a334590"
            ]
        ]
    },
    {
        "id": "a2d7e1505a334590",
        "type": "switch",
        "z": "668162e8c7280d73",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "estudo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mim",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 620,
        "wires": [
            [
                "bbabfa4ff38adc1f"
            ],
            [
                "10933aa15c5b6f82"
            ]
        ]
    },
    {
        "id": "915b790189f1dc0e",
        "type": "http request",
        "z": "668162e8c7280d73",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 440,
        "y": 720,
        "wires": [
            [
                "3367cd5322f27985"
            ]
        ]
    },
    {
        "id": "3367cd5322f27985",
        "type": "debug",
        "z": "668162e8c7280d73",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "bbabfa4ff38adc1f",
        "type": "change",
        "z": "668162e8c7280d73",
        "name": "Mim",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Rafael-Machado032",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 90,
        "y": 700,
        "wires": [
            [
                "60386d7cb70607e7"
            ]
        ]
    },
    {
        "id": "10933aa15c5b6f82",
        "type": "change",
        "z": "668162e8c7280d73",
        "name": "Estudo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Front-End-Estudos",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 100,
        "y": 740,
        "wires": [
            [
                "60386d7cb70607e7"
            ]
        ]
    },
    {
        "id": "60386d7cb70607e7",
        "type": "change",
        "z": "668162e8c7280d73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "https://github.com/Rafael-Machado032/{{payload}}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 720,
        "wires": [
            [
                "915b790189f1dc0e"
            ]
        ]
    },
    {
        "id": "46d3ad736a9aabdb",
        "type": "inject",
        "z": "2046dc6538d6377a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Curso Node RED",
        "payloadType": "str",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "197af3a49a968c5d"
            ]
        ]
    },
    {
        "id": "197af3a49a968c5d",
        "type": "split",
        "z": "2046dc6538d6377a",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "1fd483b3f6b7f7ee"
            ]
        ]
    },
    {
        "id": "1fd483b3f6b7f7ee",
        "type": "debug",
        "z": "2046dc6538d6377a",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 90,
        "y": 220,
        "wires": []
    },
    {
        "id": "3578bd223c79aac6",
        "type": "join",
        "z": "2046dc6538d6377a",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "810b6513a634a851"
            ]
        ]
    },
    {
        "id": "bb5699b31505b84d",
        "type": "inject",
        "z": "2046dc6538d6377a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "payload": "Curso",
        "payloadType": "str",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "3578bd223c79aac6"
            ]
        ]
    },
    {
        "id": "db47817945563e4f",
        "type": "inject",
        "z": "2046dc6538d6377a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "2",
        "payload": "de",
        "payloadType": "str",
        "x": 90,
        "y": 380,
        "wires": [
            [
                "3578bd223c79aac6"
            ]
        ]
    },
    {
        "id": "fadb82866cfa2d05",
        "type": "inject",
        "z": "2046dc6538d6377a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "3",
        "payload": "Node",
        "payloadType": "str",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "3578bd223c79aac6"
            ]
        ]
    },
    {
        "id": "17242c4b57482c8f",
        "type": "inject",
        "z": "2046dc6538d6377a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "4",
        "payload": "RED",
        "payloadType": "str",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "3578bd223c79aac6"
            ]
        ]
    },
    {
        "id": "810b6513a634a851",
        "type": "debug",
        "z": "2046dc6538d6377a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 400,
        "wires": []
    },
    {
        "id": "1ce99604b18372ae",
        "type": "mysql",
        "z": "481db619cc12e4cd",
        "mydb": "f411f9ddb115f5cf",
        "name": "",
        "x": 320,
        "y": 120,
        "wires": [
            [
                "937f36d140499a3c"
            ]
        ]
    },
    {
        "id": "258541de9acbc3a3",
        "type": "inject",
        "z": "481db619cc12e4cd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from cliente",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "1ce99604b18372ae"
            ]
        ]
    },
    {
        "id": "937f36d140499a3c",
        "type": "debug",
        "z": "481db619cc12e4cd",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "c2c99c4ad9fc461c",
        "type": "ui_button",
        "z": "d8ccc0df5449f308",
        "name": "",
        "group": "8c1e7f3e69ad1ce1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Node Red",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "NodeRED",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "7d8c3d4db18d4785"
            ]
        ]
    },
    {
        "id": "686687060e1a10aa",
        "type": "ui_button",
        "z": "d8ccc0df5449f308",
        "name": "",
        "group": "8c1e7f3e69ad1ce1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "JavaScript",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Javascript",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "7d8c3d4db18d4785"
            ]
        ]
    },
    {
        "id": "7d8c3d4db18d4785",
        "type": "ui_text",
        "z": "d8ccc0df5449f308",
        "group": "8c1e7f3e69ad1ce1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Selecionado",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "87b329f74ab3b2cc",
        "type": "ui_text_input",
        "z": "d8ccc0df5449f308",
        "name": "",
        "label": "Digite um curso",
        "tooltip": "",
        "group": "8c1e7f3e69ad1ce1",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "7d8c3d4db18d4785"
            ]
        ]
    },
    {
        "id": "4ac7415b9994aa89",
        "type": "ui_button",
        "z": "d8ccc0df5449f308",
        "name": "",
        "group": "8c1e7f3e69ad1ce1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enviar curso",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "payload",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "87b329f74ab3b2cc"
            ]
        ]
    },
    {
        "id": "cba9bf2f8885c501",
        "type": "ui_gauge",
        "z": "d8ccc0df5449f308",
        "name": "",
        "group": "e7b7f9a6764dbd87",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Velocimetro",
        "label": "KM/H",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "160",
        "seg2": "180",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 340,
        "wires": []
    },
    {
        "id": "ae7cdd7cfb48978f",
        "type": "ui_slider",
        "z": "d8ccc0df5449f308",
        "name": "",
        "label": "Acelerador",
        "tooltip": "",
        "group": "e7b7f9a6764dbd87",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "200",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "cba9bf2f8885c501"
            ]
        ]
    },
    {
        "id": "94d42502ece060d1",
        "type": "inject",
        "z": "d8ccc0df5449f308",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "4e39647771933a64"
            ]
        ]
    },
    {
        "id": "4e39647771933a64",
        "type": "random",
        "z": "d8ccc0df5449f308",
        "name": "",
        "low": "0",
        "high": "200",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "ae7cdd7cfb48978f"
            ]
        ]
    },
    {
        "id": "337773c8a7e13946",
        "type": "inject",
        "z": "ba4f23f2e8083025",
        "name": "Disparador auto",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "d96f272228a5a5c5"
            ]
        ]
    },
    {
        "id": "38ed7be86fc7e63a",
        "type": "ui_gauge",
        "z": "ba4f23f2e8083025",
        "name": "",
        "group": "ff69a9f76b94b8e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Peças Boas",
        "label": "Porcentagem",
        "format": "{{msg.porcB}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "7c76b448ae62e594",
        "type": "ui_gauge",
        "z": "ba4f23f2e8083025",
        "name": "",
        "group": "01ade19b9bb2c24a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Peças Ruins",
        "label": "Porcentagem",
        "format": "{{msg.porcR}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "d96f272228a5a5c5",
        "type": "random",
        "z": "ba4f23f2e8083025",
        "name": "",
        "low": "0",
        "high": "99",
        "inte": "true",
        "property": "payload",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "1e21856f6f6ad05d"
            ]
        ]
    },
    {
        "id": "53cdece52f68e28c",
        "type": "switch",
        "z": "ba4f23f2e8083025",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "42089abc81d967a5"
            ],
            [
                "6c86aa529df44fe9"
            ]
        ]
    },
    {
        "id": "42089abc81d967a5",
        "type": "function",
        "z": "ba4f23f2e8083025",
        "name": "Pecas Boas",
        "func": "var boas = flow.get(\"boas\")||0;\nboas++;\nflow.set(\"boas\",boas);\nmsg.boas = flow.get(\"boas\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "30cf193243404145",
                "980fe05783a7e2bf"
            ]
        ]
    },
    {
        "id": "6c86aa529df44fe9",
        "type": "function",
        "z": "ba4f23f2e8083025",
        "name": "Pecas Ruins",
        "func": "var ruins = flow.get(\"ruins\")||0;\nruins++;\nflow.set(\"ruins\",ruins);\nmsg.ruins = flow.get(\"ruins\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 300,
        "wires": [
            [
                "30cf193243404145",
                "f55094c94fef708a"
            ]
        ]
    },
    {
        "id": "7f5ebea16709adbc",
        "type": "ui_button",
        "z": "ba4f23f2e8083025",
        "name": "",
        "group": "351c558657f897b6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 100,
        "wires": [
            [
                "5bb7da5d3850b9ef"
            ]
        ]
    },
    {
        "id": "5bb7da5d3850b9ef",
        "type": "function",
        "z": "ba4f23f2e8083025",
        "name": "reset",
        "func": "flow.set(\"boas\",0)\nflow.set(\"ruins\", 0)\nflow.set(\"total\", 0)\nflow.set(\"porcB\", 0)\nflow.set(\"porcR\", 0)\nmsg.boas = flow.get(\"boas\");\nmsg.ruins = flow.get(\"ruins\");\nmsg.total = flow.get(\"total\");\nmsg.porcB = flow.get(\"porcB\");\nmsg.porcR = flow.get(\"porcR\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            [
                "f55094c94fef708a",
                "980fe05783a7e2bf",
                "684e49a376831370",
                "7c76b448ae62e594",
                "38ed7be86fc7e63a"
            ]
        ]
    },
    {
        "id": "684e49a376831370",
        "type": "ui_text",
        "z": "ba4f23f2e8083025",
        "group": "351c558657f897b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Peças produzidas:",
        "format": "{{total}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "1e21856f6f6ad05d",
        "type": "function",
        "z": "ba4f23f2e8083025",
        "name": "Total",
        "func": "var total = flow.get(\"total\")||0;\ntotal++;\nflow.set(\"total\",total);\nmsg.total = flow.get(\"total\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 220,
        "wires": [
            [
                "53cdece52f68e28c",
                "684e49a376831370"
            ]
        ]
    },
    {
        "id": "980fe05783a7e2bf",
        "type": "ui_text",
        "z": "ba4f23f2e8083025",
        "group": "351c558657f897b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Peças Boas:",
        "format": "{{boas}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "f55094c94fef708a",
        "type": "ui_text",
        "z": "ba4f23f2e8083025",
        "group": "351c558657f897b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Peças Ruis:",
        "format": "{{ruins}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "30cf193243404145",
        "type": "function",
        "z": "ba4f23f2e8083025",
        "name": "Porcentagem",
        "func": "var porcB = flow.get(\"porcB\") || 0;\nporcB = (flow.get(\"boas\")/flow.get(\"total\")) * 100;\nmsg.porcB = Math.round(porcB);\n\nvar porcR = flow.get(\"porcR\") || 0;\nporcR = 100 - porcB;\nmsg.porcR = Math.round(porcR);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 280,
        "wires": [
            [
                "7c76b448ae62e594",
                "38ed7be86fc7e63a"
            ]
        ]
    },
    {
        "id": "3948a032026b97a7",
        "type": "http in",
        "z": "1c1aa33cd78a7093",
        "name": "",
        "url": "/inicio/:entrada",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 111,
        "y": 72,
        "wires": [
            [
                "fc0dafa0ed3c1cb4"
            ]
        ]
    },
    {
        "id": "f727217d3d97649e",
        "type": "http response",
        "z": "1c1aa33cd78a7093",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 511,
        "y": 192,
        "wires": []
    },
    {
        "id": "fc0dafa0ed3c1cb4",
        "type": "template",
        "z": "1c1aa33cd78a7093",
        "name": "css",
        "field": "css",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": "*{\n    box-sizing: border-box;\n    margin: 0px;\n    padding: 0px;\n    border: 0px;\n    font-family: Arial, Helvetica, sans-serif;\n}\nbody{\n    background-color:#ffe;\n}\nh1{\n    color: #00a;\n    margin: 10px;\n}\nh2{\n    margin: 10px;\n}\na{\n    text-decoration: none;\n}\n.topo{\n    width: 100%;\n    background-color: #004;\n    color: #fff;\n    display: flex;    \n}\n.btn{\n    background-color: #eae5e5;\n    color: #000;\n    border-radius: 5px;\n    padding: 5px 15px;\n    margin: 5px;\n}\n.texto {\n    border: 1px solid black;\n    display: flex;\n    margin: 10px;\n    padding: 5px;\n    width: 350px;\n}\n.btne{\n    font-size: 15pt;\n    padding: 10px 50px;\n    border: 1px solid black;\n    background-color: #eae5e5;\n    border-radius: 10px;\n    margin-left: 100px;\n}",
        "output": "str",
        "x": 271,
        "y": 72,
        "wires": [
            [
                "cb3002ac24126e86"
            ]
        ]
    },
    {
        "id": "a88eadd6efa46cab",
        "type": "template",
        "z": "1c1aa33cd78a7093",
        "name": "Tela Home",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        {{css}}\n    </style>\n    <title>Curso NodeRED</title>\n</head>\n\n<body>\n    <div class=\"topo\">\n        <a class=\"btn\" href=\"http://127.0.0.1:1880/inicio/home\">Home</a>\n        <a class=\"btn\" href=\"http://127.0.0.1:1880/inicio/add\">Adicionar</a>\n        <a class=\"btn\" href=\"http://127.0.0.1:1880/inicio/cons\">Consultar</a>\n    </div>\n    <h1>Curso NodeRED</h1>\n    <h2>Home</h2>\n\n</body>\n\n</html>",
        "output": "str",
        "x": 331,
        "y": 152,
        "wires": [
            [
                "f727217d3d97649e"
            ]
        ]
    },
    {
        "id": "9b40f8d3e6430ac5",
        "type": "template",
        "z": "1c1aa33cd78a7093",
        "name": "Tela Adicionar",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        {{css}}\n    </style>\n    <title>Curso NodeRED</title>\n</head>\n\n<body>\n    <div class=\"topo\">\n                <a class=\"btn\" href=\"http://127.0.0.1:1880/inicio/home\">Home</a>\n        <a class=\"btn\" href=\"http://127.0.0.1:1880/inicio/add\">Adicionar</a>\n        <a class=\"btn\" href=\"http://127.0.0.1:1880/inicio/cons\">Consultar</a>\n    </div>\n    <h1>Curso NodeRED</h1>\n    <h2>Adicionar</h2>\n    <form action=\"http://127.0.0.1:1880/adicionar\" method=\"get\">\n        <label for=\"\">Nome:</label>\n        <input type=\"text\" class=\"texto\" name=\"nome\" id=\"nome\">\n        <br/>\n        <label for=\"\">Telefone:</label>\n        <input type=\"tel\" class=\"texto\" name=\"telefone\" id=\"telefone\">\n        <br/>\n        <label for=\"\">Email:</label>\n        <input type=\"email\" class=\"texto\" name=\"email\" id=\"email\">\n        <br/>\n        <input type=\"submit\" class=\"btne\" value=\"Enviar\">\n    </form>\n</body>\n\n</html>",
        "output": "str",
        "x": 321,
        "y": 192,
        "wires": [
            [
                "f727217d3d97649e"
            ]
        ]
    },
    {
        "id": "cb3002ac24126e86",
        "type": "switch",
        "z": "1c1aa33cd78a7093",
        "name": "",
        "property": "req.params.entrada",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "add",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cons",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 111,
        "y": 192,
        "wires": [
            [
                "a88eadd6efa46cab"
            ],
            [
                "9b40f8d3e6430ac5"
            ],
            [
                "094597816aa545e0"
            ]
        ]
    },
    {
        "id": "094597816aa545e0",
        "type": "template",
        "z": "1c1aa33cd78a7093",
        "name": "Tela Consultar",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        {{css}}\n    </style>\n    <title>Curso NodeRED</title>\n</head>\n\n<body>\n    <div class=\"topo\">\n                <a class=\"btn\" href=\"http://127.0.0.1:1880/inicio/home\">Home</a>\n        <a class=\"btn\" href=\"http://127.0.0.1:1880/inicio/add\">Adicionar</a>\n        <a class=\"btn\" href=\"http://127.0.0.1:1880/inicio/cons\">Consultar</a>\n    </div>\n    <h1>Curso NodeRED</h1>\n    <h2>Consultar Registro</h2>\n\n</body>\n\n</html>",
        "output": "str",
        "x": 321,
        "y": 232,
        "wires": [
            [
                "f727217d3d97649e"
            ]
        ]
    },
    {
        "id": "f126650ae9ecc5bb",
        "type": "http in",
        "z": "1c1aa33cd78a7093",
        "name": "",
        "url": "/adicionar",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "db8b20fdf09eea15"
            ]
        ]
    },
    {
        "id": "db8b20fdf09eea15",
        "type": "template",
        "z": "1c1aa33cd78a7093",
        "name": "css",
        "field": "css",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": "*{\n    box-sizing: border-box;\n    margin: 0px;\n    padding: 0px;\n    border: 0px;\n    font-family: Arial, Helvetica, sans-serif;\n}\nbody{\n    background-color:#ffe;\n}\nh1{\n    color: #00a;\n    margin: 10px;\n}\nh2,h3{\n    margin: 10px;\n}\na{\n    text-decoration: none;\n}\n.topo{\n    width: 100%;\n    background-color: #004;\n    color: #fff;\n    display: flex;    \n}\n.btn{\n    background-color: #eae5e5;\n    color: #000;\n    border-radius: 5px;\n    padding: 5px 15px;\n    margin: 5px;\n}\n",
        "output": "str",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "03245271e10177bf"
            ]
        ]
    },
    {
        "id": "28907cab096de9fa",
        "type": "mysql",
        "z": "1c1aa33cd78a7093",
        "mydb": "f411f9ddb115f5cf",
        "name": "",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "312b90a7c31a8763"
            ]
        ]
    },
    {
        "id": "03245271e10177bf",
        "type": "function",
        "z": "1c1aa33cd78a7093",
        "name": "Insert banco",
        "func": "let nome = msg.req.query.nome\nlet fone = msg.req.query.telefone\nlet email = msg.req.query.email\nmsg.topic = \"insert into contatos_nodered (s_nome_contatos,s_telefone_contatos,s_email_contatos) values('\"+nome+\"','\"+fone+\"','\"+email+\"')\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 380,
        "wires": [
            [
                "28907cab096de9fa"
            ]
        ]
    },
    {
        "id": "312b90a7c31a8763",
        "type": "template",
        "z": "1c1aa33cd78a7093",
        "name": "Dados adicionado",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        {{css}}\n    </style>\n    <title>Curso NodeRED</title>\n</head>\n\n<body>\n    <div class=\"topo\">\n        <a class=\"btn\" href=\"http://127.0.0.1:1880/inicio/home\">Home</a>\n        <a class=\"btn\" href=\"http://127.0.0.1:1880/inicio/add\">Adicionar</a>\n        <a class=\"btn\" href=\"http://127.0.0.1:1880/inicio/cons\">Consultar</a>\n    </div>\n    <h1>Curso NodeRED</h1>\n    <h2>Adicionar</h2>\n    <h3>Dados Enviados</h3>\n</body>\n\n</html>",
        "output": "str",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "9d4aa1736402d785"
            ]
        ]
    },
    {
        "id": "9d4aa1736402d785",
        "type": "http response",
        "z": "1c1aa33cd78a7093",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 310,
        "y": 440,
        "wires": []
    },
    {
        "id": "68e72b375cfbc1df",
        "type": "http in",
        "z": "cfea689c951e1a35",
        "name": "",
        "url": "/adicionarB",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "867abfc67647dd06"
            ]
        ]
    },
    {
        "id": "e2f0d4f18dab6428",
        "type": "mysql",
        "z": "cfea689c951e1a35",
        "mydb": "f411f9ddb115f5cf",
        "name": "",
        "x": 740,
        "y": 60,
        "wires": [
            [
                "8041c0257f725348"
            ]
        ]
    },
    {
        "id": "ab13b67433bf72e7",
        "type": "function",
        "z": "cfea689c951e1a35",
        "name": "Insert banco",
        "func": "let nome = msg.req.query.nome\nlet fone = msg.req.query.telefone\nlet email = msg.req.query.email\nmsg.topic = \"insert into contatos_nodered (s_nome_contatos,s_telefone_contatos,s_email_contatos) values('\"+nome+\"','\"+fone+\"','\"+email+\"')\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 60,
        "wires": [
            [
                "e2f0d4f18dab6428"
            ]
        ]
    },
    {
        "id": "bc07e11a2a051b5e",
        "type": "http response",
        "z": "cfea689c951e1a35",
        "name": "OK - 200",
        "statusCode": "200",
        "headers": {},
        "x": 1200,
        "y": 60,
        "wires": []
    },
    {
        "id": "867abfc67647dd06",
        "type": "function",
        "z": "cfea689c951e1a35",
        "name": "Testa Vazio",
        "func": "let nome = msg.req.query.nome\nlet fone = msg.req.query.telefone\nif(nome==\"\"||fone==\"\"){\n    msg.erro = 1;\n}else{\n    msg.erro = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 80,
        "wires": [
            [
                "c87480aad79b6339"
            ]
        ]
    },
    {
        "id": "c87480aad79b6339",
        "type": "switch",
        "z": "cfea689c951e1a35",
        "name": "",
        "property": "erro",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 80,
        "wires": [
            [
                "ab13b67433bf72e7"
            ],
            [
                "e85dae55d57bbbf1"
            ]
        ]
    },
    {
        "id": "e85dae55d57bbbf1",
        "type": "http response",
        "z": "cfea689c951e1a35",
        "name": "ERRO - 204",
        "statusCode": "204",
        "headers": {},
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "fd954c9a9fb035cb",
        "type": "mysql",
        "z": "cfea689c951e1a35",
        "mydb": "f411f9ddb115f5cf",
        "name": "",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "da6658732de65b38"
            ]
        ]
    },
    {
        "id": "9d8679b13a1f1ffe",
        "type": "function",
        "z": "cfea689c951e1a35",
        "name": "select banco",
        "func": "let nome = msg.req.query.nome\nlet fone = msg.req.query.telefone\nlet email = msg.req.query.email\nmsg.topic = \"select * from contatos_nodered\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 200,
        "wires": [
            [
                "fd954c9a9fb035cb"
            ]
        ]
    },
    {
        "id": "da6658732de65b38",
        "type": "http response",
        "z": "cfea689c951e1a35",
        "name": "OK - 200",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "05036b5fdbb2b60d",
        "type": "http in",
        "z": "cfea689c951e1a35",
        "name": "",
        "url": "/consultarB",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "9d8679b13a1f1ffe"
            ]
        ]
    },
    {
        "id": "e3ebfda36c4b9957",
        "type": "template",
        "z": "cfea689c951e1a35",
        "name": "Dados adicionado",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <style>\n        {{css}}\n    </style>\n    <title>Curso NodeRED</title>\n</head>\n\n<body>\n    <div class=\"topo\">\n        <a class=\"btn\" href=\"http://127.0.0.1:5500/Node%20Estudos/NodeRed/Front-End%20com%20NodeRed/index.html\">Home</a>\n        <a class=\"btn\" href=\"http://127.0.0.1:5500/Node%20Estudos/NodeRed/Front-End%20com%20NodeRed/adicionar.html\">Adicionar</a>\n        <a class=\"btn\" href=\"http://127.0.0.1:5500/Node%20Estudos/NodeRed/Front-End%20com%20NodeRed/consultar.html\">Consultar</a>\n    </div>\n    <h1>Curso NodeRED</h1>\n    <h2>Adicionar</h2>\n    <h3>Dados Enviados</h3>\n</body>\n\n</html>",
        "output": "str",
        "x": 1030,
        "y": 60,
        "wires": [
            [
                "bc07e11a2a051b5e"
            ]
        ]
    },
    {
        "id": "8041c0257f725348",
        "type": "template",
        "z": "cfea689c951e1a35",
        "name": "css",
        "field": "css",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": "*{\n    box-sizing: border-box;\n    margin: 0px;\n    padding: 0px;\n    border: 0px;\n    font-family: Arial, Helvetica, sans-serif;\n}\nbody{\n    background-color:#ffe;\n}\nh1{\n    color: #00a;\n    margin: 10px;\n}\nh2,h3{\n    margin: 10px;\n}\na{\n    text-decoration: none;\n}\n.topo{\n    width: 100%;\n    background-color: #004;\n    color: #fff;\n    display: flex;    \n}\n.btn{\n    background-color: #eae5e5;\n    color: #000;\n    border-radius: 5px;\n    padding: 5px 15px;\n    margin: 5px;\n}\n",
        "output": "str",
        "x": 870,
        "y": 60,
        "wires": [
            [
                "e3ebfda36c4b9957"
            ]
        ]
    },
    {
        "id": "915df477931e3272",
        "type": "http in",
        "z": "2607909540dc9bb0",
        "name": "",
        "url": "gravar",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "d41d9f6376a14eea"
            ]
        ]
    },
    {
        "id": "e67b4206c2fb46bc",
        "type": "http in",
        "z": "2607909540dc9bb0",
        "name": "",
        "url": "recebe",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "d003723e523c36ed"
            ]
        ]
    },
    {
        "id": "d41d9f6376a14eea",
        "type": "function",
        "z": "2607909540dc9bb0",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 220,
        "wires": [
            [
                "34b265521c524ede",
                "b6beca3362309a50"
            ]
        ]
    },
    {
        "id": "d003723e523c36ed",
        "type": "function",
        "z": "2607909540dc9bb0",
        "name": "function 3",
        "func": "let dados = {\n    temperatura: Math.round(Math.random() * 10),\n    nivel: Math.round(Math.random() * 10),\n    pressao: Math.round(Math.random() * 10)\n}\nmsg.payload=dados;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 380,
        "wires": [
            [
                "8983e5c82ccb1aa4",
                "7c02e89abd8743f9"
            ]
        ]
    },
    {
        "id": "b6beca3362309a50",
        "type": "debug",
        "z": "2607909540dc9bb0",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "7c02e89abd8743f9",
        "type": "debug",
        "z": "2607909540dc9bb0",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 400,
        "wires": []
    },
    {
        "id": "34b265521c524ede",
        "type": "http response",
        "z": "2607909540dc9bb0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "8983e5c82ccb1aa4",
        "type": "http response",
        "z": "2607909540dc9bb0",
        "name": "Recebe dados",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 520,
        "y": 360,
        "wires": []
    },
    {
        "id": "1a2dd801d02463bf",
        "type": "http in",
        "z": "02e4bb26894110ae",
        "name": "",
        "url": "/produtos",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "2a543db9089fb35f"
            ]
        ]
    },
    {
        "id": "5f87ae57f4df5acd",
        "type": "http response",
        "z": "02e4bb26894110ae",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "2a543db9089fb35f",
        "type": "function",
        "z": "02e4bb26894110ae",
        "name": "Mostrar Tabela",
        "func": "let query = \"select * from produtos\";\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 100,
        "wires": [
            [
                "1b8a94b1d31f6161"
            ]
        ]
    },
    {
        "id": "1b8a94b1d31f6161",
        "type": "mysql",
        "z": "02e4bb26894110ae",
        "mydb": "516320bcc5fab6ae",
        "name": "",
        "x": 690,
        "y": 100,
        "wires": [
            [
                "5f87ae57f4df5acd"
            ]
        ]
    },
    {
        "id": "8892ac6f773605f1",
        "type": "http in",
        "z": "02e4bb26894110ae",
        "name": "",
        "url": "/removeprodutos/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "71405886403c0b60"
            ]
        ]
    },
    {
        "id": "9354d046d0d9d20e",
        "type": "http response",
        "z": "02e4bb26894110ae",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "71405886403c0b60",
        "type": "function",
        "z": "02e4bb26894110ae",
        "name": "Deletar Produto",
        "func": "let id = msg.req.params.id;\nlet query = `DELETE FROM produtos WHERE n_id_produtos = ${id}`;\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 160,
        "wires": [
            [
                "42a343f10e17a9f6"
            ]
        ]
    },
    {
        "id": "42a343f10e17a9f6",
        "type": "mysql",
        "z": "02e4bb26894110ae",
        "mydb": "516320bcc5fab6ae",
        "name": "",
        "x": 690,
        "y": 160,
        "wires": [
            [
                "9354d046d0d9d20e"
            ]
        ]
    },
    {
        "id": "60d5c22dd18e3089",
        "type": "http in",
        "z": "02e4bb26894110ae",
        "name": "",
        "url": "/produtos/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "a415febef1024899"
            ]
        ]
    },
    {
        "id": "bc45d368b2b82bc8",
        "type": "http response",
        "z": "02e4bb26894110ae",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "a415febef1024899",
        "type": "function",
        "z": "02e4bb26894110ae",
        "name": "Vizualizar Produto",
        "func": "let id = msg.req.params.id;\nlet query = `SELECT * FROM produtos WHERE n_id_produtos = ${id}`;\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "65f4a2363a9a88cc"
            ]
        ]
    },
    {
        "id": "65f4a2363a9a88cc",
        "type": "mysql",
        "z": "02e4bb26894110ae",
        "mydb": "516320bcc5fab6ae",
        "name": "",
        "x": 690,
        "y": 220,
        "wires": [
            [
                "bc45d368b2b82bc8"
            ]
        ]
    },
    {
        "id": "38069f9129d6d19c",
        "type": "http in",
        "z": "02e4bb26894110ae",
        "name": "",
        "url": "/updateprodutos/:id/:produto/:marca/:modelo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "9721ce65a5449a8f"
            ]
        ]
    },
    {
        "id": "4f294314e24911e5",
        "type": "http response",
        "z": "02e4bb26894110ae",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "9721ce65a5449a8f",
        "type": "function",
        "z": "02e4bb26894110ae",
        "name": "Editar Produto",
        "func": "let id = msg.req.params.id;\nlet produto = msg.req.params.produto;\nlet marca = msg.req.params.marca;\nlet modelo = msg.req.params.modelo;\n\nlet query = `UPDATE produtos SET s_produto_produtos = '${produto}',s_marca_produtos = '${marca}',s_modelo_produtos = '${modelo}' WHERE n_id_produtos = '${id}'`;\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [
            [
                "9aee03dbfe6f6d80"
            ]
        ]
    },
    {
        "id": "9aee03dbfe6f6d80",
        "type": "mysql",
        "z": "02e4bb26894110ae",
        "mydb": "516320bcc5fab6ae",
        "name": "",
        "x": 690,
        "y": 280,
        "wires": [
            [
                "4f294314e24911e5"
            ]
        ]
    },
    {
        "id": "c4982674808151c1",
        "type": "mysql",
        "z": "303cdc2011633dc6",
        "mydb": "eaa9d8d67d3d67cc",
        "name": "Agenda Wamp",
        "x": 700,
        "y": 80,
        "wires": [
            [
                "bb9291cc817c735a"
            ]
        ]
    },
    {
        "id": "c64870e04c931aa3",
        "type": "http in",
        "z": "303cdc2011633dc6",
        "name": "",
        "url": "/contatos",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "143e612bb92ce661"
            ]
        ]
    },
    {
        "id": "bb9291cc817c735a",
        "type": "http response",
        "z": "303cdc2011633dc6",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "143e612bb92ce661",
        "type": "function",
        "z": "303cdc2011633dc6",
        "name": "Selecionar todos",
        "func": "msg.topic = \"SELECT * FROM contatos\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 80,
        "wires": [
            [
                "c4982674808151c1"
            ]
        ]
    },
    {
        "id": "b006eb7dac609c43",
        "type": "mysql",
        "z": "303cdc2011633dc6",
        "mydb": "eaa9d8d67d3d67cc",
        "name": "Agenda Wamp",
        "x": 700,
        "y": 140,
        "wires": [
            [
                "f7c15726122c61d2"
            ]
        ]
    },
    {
        "id": "5b95a9e403b2c80d",
        "type": "http in",
        "z": "303cdc2011633dc6",
        "name": "",
        "url": "/addcontatos",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "603ad9d8e9443156"
            ]
        ]
    },
    {
        "id": "f7c15726122c61d2",
        "type": "http response",
        "z": "303cdc2011633dc6",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "603ad9d8e9443156",
        "type": "function",
        "z": "303cdc2011633dc6",
        "name": "Add contatos",
        "func": "msg.payload = JSON.parse(msg.payload);\nconst f_nome = msg.payload.f_nome;\nconst f_telefone = msg.payload.f_telefone;\nconst f_email = msg.payload.f_email;\nconst f_obs = msg.payload.f_obs;\n\nconst query = `INSERT INTO contatos VALUES (NULL,\"${f_nome}\",\"${f_telefone}\",\"${f_email}\",\"${f_obs}\") `;\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 140,
        "wires": [
            [
                "b006eb7dac609c43"
            ]
        ]
    },
    {
        "id": "6789ba203fe9986d",
        "type": "mysql",
        "z": "303cdc2011633dc6",
        "mydb": "eaa9d8d67d3d67cc",
        "name": "Agenda Wamp",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "057af9df1f9d5300",
                "0addf4ea7244018d"
            ]
        ]
    },
    {
        "id": "16a7a0aec3e3eceb",
        "type": "http in",
        "z": "303cdc2011633dc6",
        "name": "",
        "url": "/editarcontatos/:id/:nome/:telefone/:email/:obs",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "5d3d950da6e6410d"
            ]
        ]
    },
    {
        "id": "057af9df1f9d5300",
        "type": "http response",
        "z": "303cdc2011633dc6",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "5d3d950da6e6410d",
        "type": "function",
        "z": "303cdc2011633dc6",
        "name": "Editar contatos",
        "func": "let id = msg.req.params.id;\nlet nome = msg.req.params.nome;\nlet telefone = msg.req.params.telefone;\nlet email = msg.req.params.email;\nlet obs = msg.req.params.obs;\n\nmsg.topic = `UPDATE contatos SET s_nome_contatos = \"${ nome }\", n_telefone_contatos = \"${ telefone }\", s_email_contatos = \"${ email }\", tx_obs_contatos = \"${ obs }\" WHERE n_contato_contatos = \"${id}\"`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "6789ba203fe9986d"
            ]
        ]
    },
    {
        "id": "d8376fa02e69508c",
        "type": "mysql",
        "z": "303cdc2011633dc6",
        "mydb": "eaa9d8d67d3d67cc",
        "name": "Agenda Wamp",
        "x": 700,
        "y": 260,
        "wires": [
            [
                "180596efc3c9a7c3"
            ]
        ]
    },
    {
        "id": "582f957475e21b1e",
        "type": "http in",
        "z": "303cdc2011633dc6",
        "name": "",
        "url": "/deletarcontatos/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "959fc0acf53ef4a3"
            ]
        ]
    },
    {
        "id": "180596efc3c9a7c3",
        "type": "http response",
        "z": "303cdc2011633dc6",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "959fc0acf53ef4a3",
        "type": "function",
        "z": "303cdc2011633dc6",
        "name": "Deletar contatos",
        "func": "const id = msg.req.params.id;\nmsg.topic = `DELETE FROM contatos WHERE n_contato_contatos = ${id}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "d8376fa02e69508c"
            ]
        ]
    },
    {
        "id": "b3e43819ea65bd0b",
        "type": "mysql",
        "z": "303cdc2011633dc6",
        "mydb": "eaa9d8d67d3d67cc",
        "name": "Agenda Wamp",
        "x": 700,
        "y": 320,
        "wires": [
            [
                "4f19ead70870db80"
            ]
        ]
    },
    {
        "id": "12c8af35dadcd319",
        "type": "http in",
        "z": "303cdc2011633dc6",
        "name": "",
        "url": "/pesquisarcontatos/:tipo/:pesq",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "cd6186c2e8902b11"
            ]
        ]
    },
    {
        "id": "4f19ead70870db80",
        "type": "http response",
        "z": "303cdc2011633dc6",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 850,
        "y": 320,
        "wires": []
    },
    {
        "id": "cd6186c2e8902b11",
        "type": "function",
        "z": "303cdc2011633dc6",
        "name": "Pesquisar contatos",
        "func": "const tipo = msg.req.params.tipo;\nconst pesq = msg.req.params.pesq;\n\nlet query = \"SELECT * FROM contatos WHERE \";\n\nif (tipo == \"id\"){\n    query += `n_contato_contatos = \"${pesq}\"`;\n} else if (tipo == \"nome\") {\n    query += `s_nome_contatos LIKE \"%${pesq}%\"`;\n} else if (tipo == \"telefone\") {\n    query += `n_telefone_contatos = \"${pesq}\"`;\n} else if (tipo == \"email\") {\n    query += `s_email_contatos LIKE \"%${pesq}%\"`;\n}\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 320,
        "wires": [
            [
                "b3e43819ea65bd0b"
            ]
        ]
    },
    {
        "id": "0addf4ea7244018d",
        "type": "debug",
        "z": "303cdc2011633dc6",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 160,
        "wires": []
    },
    {
        "id": "b6c77329b3e8bbb4",
        "type": "debug",
        "z": "90b3b8ee26b78526",
        "name": "Mostrar Tudo",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "4fdb64dff4561458",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Exibir Usuarios",
        "func": "msg.topic = \"SELECT * FROM pessoa\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 40,
        "wires": [
            [
                "716360cc1afaa012"
            ]
        ]
    },
    {
        "id": "9e700535a745ab8c",
        "type": "http in",
        "z": "90b3b8ee26b78526",
        "name": "",
        "url": "/todospessoas",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "4fdb64dff4561458"
            ]
        ]
    },
    {
        "id": "cc00899c65795ddf",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "716360cc1afaa012",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 680,
        "y": 40,
        "wires": [
            [
                "cc00899c65795ddf",
                "b6c77329b3e8bbb4"
            ]
        ]
    },
    {
        "id": "354aa76225c2367a",
        "type": "debug",
        "z": "90b3b8ee26b78526",
        "name": "Tipo Colaborador",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "fd29f30710e53470",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Exibir Tipo Usuarios",
        "func": "msg.topic = \"SELECT * FROM tipopessoa\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 120,
        "wires": [
            [
                "a3fa7a9e60a22ec7"
            ]
        ]
    },
    {
        "id": "94a6ca507168526a",
        "type": "http in",
        "z": "90b3b8ee26b78526",
        "name": "",
        "url": "/tipocolab",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "fd29f30710e53470"
            ]
        ]
    },
    {
        "id": "101a53078de365ed",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "a3fa7a9e60a22ec7",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 680,
        "y": 120,
        "wires": [
            [
                "101a53078de365ed",
                "354aa76225c2367a"
            ]
        ]
    },
    {
        "id": "d496b64da702ac63",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Add Usuario",
        "func": "msg.payload = JSON.parse(msg.payload)\n\n\nconst tipo = msg.payload.n_tipopessoa_tipopessoa;\nconst nome = msg.payload.s_nome_pessoa;\nconst foto = msg.payload.s_foto_pessoa\nconst status = msg.payload.c_status_pessoa;\nmsg.telefones = msg.payload.numtelefones;\n\nconst query = `INSERT INTO pessoa VALUES (NULL,NULL,\"${tipo}\",\"${nome}\",\"${foto}\",\"${status}\") `\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 740,
        "wires": [
            [
                "00fe1ecb56816818"
            ]
        ]
    },
    {
        "id": "9dde5801ac434389",
        "type": "http in",
        "z": "90b3b8ee26b78526",
        "name": "",
        "url": "/novocolab",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 740,
        "wires": [
            [
                "d496b64da702ac63"
            ]
        ]
    },
    {
        "id": "d7042f885de3f747",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 800,
        "wires": []
    },
    {
        "id": "00fe1ecb56816818",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 540,
        "y": 740,
        "wires": [
            [
                "0a9afeeb3e6bf6a9"
            ]
        ]
    },
    {
        "id": "eab969bb37ae69a3",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Add Telefones",
        "func": "let idusuario = msg.payload.insertId\nlet tels = msg.telefones;\n\nlet restel = \"\";\n\ntels.forEach(function(element) {\n    restel += `,(NULL,${idusuario},\"${element}\")`\n    //Cada conjuto de dados tem que ser separado por uma virgula\n});\n\nrestel = restel.substring(1);\n//Remove o caracter da primeira posição no caso a virgula\n//Cuidado com espaço na frente do conteudo\nconst query = `INSERT INTO telefone VALUES ${restel}`;\nmsg.topic = query;\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 800,
        "wires": [
            [
                "fcd11ab5c157502f"
            ]
        ]
    },
    {
        "id": "fcd11ab5c157502f",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 540,
        "y": 800,
        "wires": [
            [
                "d7042f885de3f747",
                "98b9cc101131c0fd"
            ]
        ]
    },
    {
        "id": "0a9afeeb3e6bf6a9",
        "type": "switch",
        "z": "90b3b8ee26b78526",
        "name": "Tem telefone?",
        "property": "telefones",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 800,
        "wires": [
            [
                "eab969bb37ae69a3"
            ],
            [
                "829a0c6e6fcb443b"
            ]
        ]
    },
    {
        "id": "df881396ec0666ca",
        "type": "http in",
        "z": "90b3b8ee26b78526",
        "name": "",
        "url": "/mostrarcontato/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "8c94cb2414cad48c"
            ]
        ]
    },
    {
        "id": "e204c0dacf52229e",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "8c94cb2414cad48c",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Mostra um contato",
        "func": "let id = msg.req.params.id;\n\nmsg.topic = `SELECT * FROM pessoa WHERE n_pessoa_pessoa = \"${id}\"`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "4b5dcbbb59a47709"
            ]
        ]
    },
    {
        "id": "4b5dcbbb59a47709",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 680,
        "y": 200,
        "wires": [
            [
                "acae6ddb5fc81a76",
                "e204c0dacf52229e"
            ]
        ]
    },
    {
        "id": "acae6ddb5fc81a76",
        "type": "debug",
        "z": "90b3b8ee26b78526",
        "name": "Mostra Usuario",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "bbc30a89d2d6de0b",
        "type": "http in",
        "z": "90b3b8ee26b78526",
        "name": "",
        "url": "/mostrartelefones/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "e991641db738c896"
            ]
        ]
    },
    {
        "id": "700f24c471aa6fa8",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "e991641db738c896",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Mostrar Telefones",
        "func": "let id = msg.req.params.id;\n\nmsg.topic = `SELECT * FROM telefone WHERE n_pessoa_pessoa = \"${id}\"`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "f0b8e5bd0cf1ca95"
            ]
        ]
    },
    {
        "id": "f0b8e5bd0cf1ca95",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 680,
        "y": 280,
        "wires": [
            [
                "b007d1a9eb23045b",
                "700f24c471aa6fa8"
            ]
        ]
    },
    {
        "id": "b007d1a9eb23045b",
        "type": "debug",
        "z": "90b3b8ee26b78526",
        "name": "Mostra Telefone",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "829a0c6e6fcb443b",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 330,
        "y": 840,
        "wires": []
    },
    {
        "id": "d336dad8ac5f98f6",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Update Usuario",
        "func": "msg.payload = JSON.parse(msg.payload)\n\nconst id = msg.payload.n_pessoa_pessoa;\nconst nome = msg.payload.s_nome_pessoa;\nconst tipo = msg.payload.n_tipopessoa_tipopessoa;\nconst status = msg.payload.c_status_pessoa;\nconst foto = msg.payload.s_foto_pessoa;\nmsg.telefones = msg.payload.numtelefones\n\nconst query = `UPDATE pessoa SET s_nome_pessoa = \"${nome}\",n_tipopessoa_tipopessoa = \"${tipo}\",c_status_pessoa = \"${status}\",s_foto_pessoa = \"${foto}\" WHERE n_pessoa_pessoa =   \"${id}\"`\n\nmsg.topic = query;\nflow.set(\"ideditado\",id)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 880,
        "wires": [
            [
                "c08a1f3fabcad4a8"
            ]
        ]
    },
    {
        "id": "777672b33cfb5d5e",
        "type": "http in",
        "z": "90b3b8ee26b78526",
        "name": "",
        "url": "/editarcolab",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 880,
        "wires": [
            [
                "d336dad8ac5f98f6"
            ]
        ]
    },
    {
        "id": "8c3185da57c1379e",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 940,
        "wires": []
    },
    {
        "id": "c08a1f3fabcad4a8",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 540,
        "y": 880,
        "wires": [
            [
                "019c3d2d9a2ecaa1"
            ]
        ]
    },
    {
        "id": "0e2425faf2452a94",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Add Telefones",
        "func": "const id = flow.get(\"ideditado\");\n//let idusuario = msg.payload.insertId\nlet tels = msg.telefones;\n\nlet restel = \"\";\n\ntels.forEach(function(element) {\n    restel += `,(NULL,${id},\"${element}\")`\n    //Cada conjuto de dados tem que ser separado por uma virgula\n});\n\nrestel = restel.substring(1);\n//Remove o caracter da primeira posição no caso a virgula\n//Cuidado com espaço na frente do conteudo\nconst query = `INSERT INTO telefone VALUES ${restel}`;\nmsg.topic = query;\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 940,
        "wires": [
            [
                "57c0017f96e828bb"
            ]
        ]
    },
    {
        "id": "57c0017f96e828bb",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 540,
        "y": 940,
        "wires": [
            [
                "8c3185da57c1379e",
                "cfcabbfcbbb297ee"
            ]
        ]
    },
    {
        "id": "019c3d2d9a2ecaa1",
        "type": "switch",
        "z": "90b3b8ee26b78526",
        "name": "Tem telefone?",
        "property": "telefones",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 940,
        "wires": [
            [
                "0e2425faf2452a94"
            ],
            [
                "fe95ec918ae76aa8"
            ]
        ]
    },
    {
        "id": "fe95ec918ae76aa8",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 330,
        "y": 980,
        "wires": []
    },
    {
        "id": "afb48f4cb4c0d467",
        "type": "http in",
        "z": "90b3b8ee26b78526",
        "name": "",
        "url": "/deletetelefone/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "99edb406cb607074"
            ]
        ]
    },
    {
        "id": "ab00b2369a603db0",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "99edb406cb607074",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Deletar Caixa Telefone",
        "func": "let id = msg.req.params.id;\n\nmsg.topic = `DELETE FROM telefone WHERE n_telefone_telefone = \"${id}\"`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "5afc2319540c70e8"
            ]
        ]
    },
    {
        "id": "5afc2319540c70e8",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 680,
        "y": 360,
        "wires": [
            [
                "f4d9578184616811",
                "ab00b2369a603db0"
            ]
        ]
    },
    {
        "id": "f4d9578184616811",
        "type": "debug",
        "z": "90b3b8ee26b78526",
        "name": "Delete Telefone",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "cfcabbfcbbb297ee",
        "type": "debug",
        "z": "90b3b8ee26b78526",
        "name": "Editar",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 980,
        "wires": []
    },
    {
        "id": "98b9cc101131c0fd",
        "type": "debug",
        "z": "90b3b8ee26b78526",
        "name": "Adicionar",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 840,
        "wires": []
    },
    {
        "id": "23ecd1c7ea30f51d",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Delete Usuario",
        "func": "msg.payload = JSON.parse(msg.payload)\n\nconst id = msg.payload.n_pessoa_pessoa;\n\nmsg.topic = `DELETE FROM pessoa WHERE n_pessoa_pessoa = \"${id}\"`;\n\nflow.set(\"iddeletado\",id)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "51fefb9c75b53eae"
            ]
        ]
    },
    {
        "id": "2dd05a5fd429f9c6",
        "type": "http in",
        "z": "90b3b8ee26b78526",
        "name": "",
        "url": "/deletecolab",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "23ecd1c7ea30f51d"
            ]
        ]
    },
    {
        "id": "7b80c8857f6189fb",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 1080,
        "wires": []
    },
    {
        "id": "51fefb9c75b53eae",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 540,
        "y": 1020,
        "wires": [
            [
                "5b4b9aaaf02ad8f7"
            ]
        ]
    },
    {
        "id": "3e694cded42794df",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Delete Telefones",
        "func": "const id = flow.get(\"iddeletado\");\n\nmsg.topic = `DELETE FROM telefone WHERE n_pessoa_pessoa = \"${id}\"`;\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1080,
        "wires": [
            [
                "1168cddc776fb02c"
            ]
        ]
    },
    {
        "id": "1168cddc776fb02c",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 540,
        "y": 1080,
        "wires": [
            [
                "7b80c8857f6189fb",
                "1635a77cc466c22e"
            ]
        ]
    },
    {
        "id": "5b4b9aaaf02ad8f7",
        "type": "switch",
        "z": "90b3b8ee26b78526",
        "name": "Tem telefone?",
        "property": "telefones",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 1080,
        "wires": [
            [
                "3e694cded42794df"
            ],
            [
                "3029b9179122cfdc"
            ]
        ]
    },
    {
        "id": "3029b9179122cfdc",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 330,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1635a77cc466c22e",
        "type": "debug",
        "z": "90b3b8ee26b78526",
        "name": "Deletar",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1120,
        "wires": []
    },
    {
        "id": "623f7cb95b992eba",
        "type": "http in",
        "z": "90b3b8ee26b78526",
        "name": "",
        "url": "/editarstatus/:id/:status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "727286c49cfa2fb1"
            ]
        ]
    },
    {
        "id": "aec79cbe8c0a7a9c",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "727286c49cfa2fb1",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Editar Status",
        "func": "let id = msg.req.params.id;\nlet status = msg.req.params.status;\n\nmsg.topic = `UPDATE pessoa SET c_status_pessoa = \"${status}\" WHERE n_pessoa_pessoa = \"${id}\"`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "3696d547ae67e6b3"
            ]
        ]
    },
    {
        "id": "3696d547ae67e6b3",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 680,
        "y": 440,
        "wires": [
            [
                "703a52e6e19a9882",
                "aec79cbe8c0a7a9c"
            ]
        ]
    },
    {
        "id": "703a52e6e19a9882",
        "type": "debug",
        "z": "90b3b8ee26b78526",
        "name": "Muda Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "a29c4acd6744b602",
        "type": "http in",
        "z": "90b3b8ee26b78526",
        "name": "",
        "url": "/pesquisarcolab/:tipo/:valor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "37d1ef56c1a986af"
            ]
        ]
    },
    {
        "id": "7899339d56da44da",
        "type": "http response",
        "z": "90b3b8ee26b78526",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "37d1ef56c1a986af",
        "type": "function",
        "z": "90b3b8ee26b78526",
        "name": "Pesquisar Colaboradores",
        "func": "const tipo = msg.req.params.tipo;\nconst valor = msg.req.params.valor;\n\nlet query = null;\nif(tipo == \"ID\"){\n   query = `SELECT * FROM pessoa WHERE n_pessoa_pessoa = \"${valor}\"` ;\n}else{\n    query = `SELECT * FROM pessoa WHERE s_nome_pessoa LIKE \"%${valor}%\"`;\n                                        //O % pesquisa em qualquer posição\n}\nmsg.topic = query\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 520,
        "wires": [
            [
                "c7a324c1b77520cb"
            ]
        ]
    },
    {
        "id": "c7a324c1b77520cb",
        "type": "mysql",
        "z": "90b3b8ee26b78526",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 680,
        "y": 520,
        "wires": [
            [
                "649a8e85cf93988a",
                "7899339d56da44da"
            ]
        ]
    },
    {
        "id": "649a8e85cf93988a",
        "type": "debug",
        "z": "90b3b8ee26b78526",
        "name": "Pesquisa",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 560,
        "wires": []
    },
    {
        "id": "854e321e2b8c2424",
        "type": "debug",
        "z": "a45fc121946bb817",
        "name": "Mostrar Tudo",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
        "id": "bd1dd093431bc0b8",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Exibir Usuarios",
        "func": "msg.topic = \"SELECT * FROM fornecedor\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 40,
        "wires": [
            [
                "1e0cf20ad0a94531"
            ]
        ]
    },
    {
        "id": "1a46a14a66e866eb",
        "type": "http in",
        "z": "a45fc121946bb817",
        "name": "",
        "url": "/todosfornecedores",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "bd1dd093431bc0b8"
            ]
        ]
    },
    {
        "id": "a61d1379b781b16e",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 40,
        "wires": []
    },
    {
        "id": "1e0cf20ad0a94531",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 720,
        "y": 40,
        "wires": [
            [
                "a61d1379b781b16e",
                "854e321e2b8c2424"
            ]
        ]
    },
    {
        "id": "2fb4ddb86ee58cd7",
        "type": "http in",
        "z": "a45fc121946bb817",
        "name": "",
        "url": "/editarstatusfornecedor/:id/:status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "5ffc28bbe286fb73"
            ]
        ]
    },
    {
        "id": "45a64bf7f76f841a",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "5ffc28bbe286fb73",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Editar Status",
        "func": "let id = msg.req.params.id;\nlet status = msg.req.params.status;\n\nmsg.topic = `UPDATE fornecedor SET c_status_fornecedor = \"${status}\" WHERE n_fornecedor_fornecedor = \"${id}\"`\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "ae877c70c27a3473"
            ]
        ]
    },
    {
        "id": "ae877c70c27a3473",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 720,
        "y": 120,
        "wires": [
            [
                "17c3118425157df9",
                "45a64bf7f76f841a"
            ]
        ]
    },
    {
        "id": "17c3118425157df9",
        "type": "debug",
        "z": "a45fc121946bb817",
        "name": "Muda Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "fa1c45bd166c37a6",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Add Fornecedor",
        "func": "msg.payload = JSON.parse(msg.payload)\n\n\nconst nome = msg.payload.s_nome_fornecedor;\nconst foto = msg.payload.s_foto_fornecedor\nconst status = msg.payload.c_status_fornecedor;\nmsg.idp= msg.payload.pessoa\n\nconst query = `INSERT INTO fornecedor VALUES (NULL,\"${nome}\",\"${foto}\",\"${status}\") `\n\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 780,
        "wires": [
            [
                "effa1b8652232950"
            ]
        ]
    },
    {
        "id": "e60cc593b39e7348",
        "type": "http in",
        "z": "a45fc121946bb817",
        "name": "",
        "url": "/novofornecedor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "fa1c45bd166c37a6"
            ]
        ]
    },
    {
        "id": "effa1b8652232950",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 500,
        "y": 780,
        "wires": [
            [
                "b88dc4e2f369b909"
            ]
        ]
    },
    {
        "id": "657d1645a5b6e596",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Update Usuario",
        "func": "msg.payload = JSON.parse(msg.payload)\n\nconst id = msg.payload.n_fornecedor_fornecedor;\nconst nome = msg.payload.s_nome_fornecedor;\nconst status = msg.payload.c_status_fornecedor;\nconst foto = msg.payload.s_foto_fornecedor;\nmsg.idp= msg.payload.pessoa\n\nconst query = `UPDATE fornecedor SET s_desc_fornecedor = \"${nome}\",c_status_fornecedor = \"${status}\",s_logo_fornecedor = \"${foto}\" WHERE n_fornecedor_fornecedor = \"${id}\"`\n\nmsg.topic = query;\nflow.set(\"ideditado\",id)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 940,
        "wires": [
            [
                "6f6fa9ae037a0c48"
            ]
        ]
    },
    {
        "id": "a6ae2e5b7f21eb04",
        "type": "http in",
        "z": "a45fc121946bb817",
        "name": "",
        "url": "/editarfornecedor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 940,
        "wires": [
            [
                "657d1645a5b6e596"
            ]
        ]
    },
    {
        "id": "6f6fa9ae037a0c48",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 500,
        "y": 940,
        "wires": [
            [
                "9534a59df91aee3b",
                "8d75d9548bceddb0"
            ]
        ]
    },
    {
        "id": "1d1cc587103b7b5c",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Delete Usuario",
        "func": "msg.payload = JSON.parse(msg.payload)\n\nconst id = msg.payload.n_fornecedor_fornecedor;\n\nmsg.topic = `DELETE FROM fornecedor WHERE n_fornecedor_fornecedor = \"${id}\"`;\nflow.set(\"iddeletado\",id)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1100,
        "wires": [
            [
                "82d9ec3f74abe3c7"
            ]
        ]
    },
    {
        "id": "e69e6b2555932d9e",
        "type": "http in",
        "z": "a45fc121946bb817",
        "name": "",
        "url": "/deletefornecedor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1100,
        "wires": [
            [
                "1d1cc587103b7b5c"
            ]
        ]
    },
    {
        "id": "82d9ec3f74abe3c7",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 500,
        "y": 1100,
        "wires": [
            [
                "9ce8e539676f4dc1"
            ]
        ]
    },
    {
        "id": "5ccf498de195ff31",
        "type": "http in",
        "z": "a45fc121946bb817",
        "name": "",
        "url": "/mostrarfornecedor/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "9cb16bb0f3c130c1"
            ]
        ]
    },
    {
        "id": "f9a0573659163b02",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "9cb16bb0f3c130c1",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Mostra um contato",
        "func": "let id = msg.req.params.id;\n\nmsg.topic = `SELECT * FROM fornecedor WHERE n_fornecedor_fornecedor = \"${id}\"`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [
            [
                "de175c6cc204a5c5"
            ]
        ]
    },
    {
        "id": "de175c6cc204a5c5",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 720,
        "y": 200,
        "wires": [
            [
                "7b84e326e51a1e9f",
                "f9a0573659163b02"
            ]
        ]
    },
    {
        "id": "7b84e326e51a1e9f",
        "type": "debug",
        "z": "a45fc121946bb817",
        "name": "Mostra Usuario",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "ed3faf70a5159a4e",
        "type": "http in",
        "z": "a45fc121946bb817",
        "name": "",
        "url": "/pesquisarfornecedor/:tipo/:valor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "0eb4f8eb735828d7"
            ]
        ]
    },
    {
        "id": "e3d11eaeea3005c2",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "0eb4f8eb735828d7",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Pesquisar Fornecedores",
        "func": "const tipo = msg.req.params.tipo;\nconst valor = msg.req.params.valor;\n\nlet query = null;\nif(tipo == \"ID\"){\n   query = `SELECT * FROM fornecedor WHERE n_fornecedor_fornecedor = \"${valor}\"` ;\n}else{\n    query = `SELECT * FROM fornecedor WHERE s_desc_fornecedor LIKE \"%${valor}%\"`;\n                                        //O % pesquisa em qualquer posição\n}\nmsg.topic = query\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "78d3df300c9bc666"
            ]
        ]
    },
    {
        "id": "78d3df300c9bc666",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 720,
        "y": 280,
        "wires": [
            [
                "4d7a51264844afbd",
                "e3d11eaeea3005c2"
            ]
        ]
    },
    {
        "id": "4d7a51264844afbd",
        "type": "debug",
        "z": "a45fc121946bb817",
        "name": "Pesquisa",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "98b499d4ad9ce472",
        "type": "debug",
        "z": "a45fc121946bb817",
        "name": "Mostrar Tudo",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "6a13fc969716e7a7",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Exibir Fornecedores Pessoa",
        "func": "msg.topic = \"SELECT n_pessoa_pessoa, s_nome_pessoa FROM pessoa WHERE n_tipopessoa_tipopessoa = 3 AND c_status_pessoa = 'A'\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "69e92ed32b658594"
            ]
        ]
    },
    {
        "id": "c17e4ad211db0e1a",
        "type": "http in",
        "z": "a45fc121946bb817",
        "name": "",
        "url": "/todospessoasfornecedor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "6a13fc969716e7a7"
            ]
        ]
    },
    {
        "id": "4b5413f9dd28b93b",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 360,
        "wires": []
    },
    {
        "id": "69e92ed32b658594",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 720,
        "y": 360,
        "wires": [
            [
                "4b5413f9dd28b93b",
                "98b499d4ad9ce472"
            ]
        ]
    },
    {
        "id": "62e4e14dd12d1d0c",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 840,
        "wires": []
    },
    {
        "id": "164b44a03a266484",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Add Pessoa",
        "func": "let idusuario = msg.payload.insertId\nlet id = msg.idp;\n\nlet restel = \"\";\n\nid.forEach(function(element) {\n    restel += `,(NULL,${idusuario},\"${element}\")`\n    //Cada conjuto de dados tem que ser separado por uma virgula\n});\n\nrestel = restel.substring(1);\n//Remove o caracter da primeira posição no caso a virgula\n//Cuidado com espaço na frente do conteudo\nconst query = `INSERT INTO contatofornecedor VALUES ${restel}`;\nmsg.topic = query;\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 840,
        "wires": [
            [
                "31dacd29697637b8"
            ]
        ]
    },
    {
        "id": "31dacd29697637b8",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 500,
        "y": 840,
        "wires": [
            [
                "62e4e14dd12d1d0c",
                "6ae05d10d80fa55d"
            ]
        ]
    },
    {
        "id": "b88dc4e2f369b909",
        "type": "switch",
        "z": "a45fc121946bb817",
        "name": "Tem pessoa?",
        "property": "idp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 90,
        "y": 840,
        "wires": [
            [
                "164b44a03a266484"
            ],
            [
                "5305ee028205f134"
            ]
        ]
    },
    {
        "id": "5305ee028205f134",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 290,
        "y": 880,
        "wires": []
    },
    {
        "id": "6ae05d10d80fa55d",
        "type": "debug",
        "z": "a45fc121946bb817",
        "name": "Adicionar",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 880,
        "wires": []
    },
    {
        "id": "811a30d67b5b0039",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 1000,
        "wires": []
    },
    {
        "id": "59f9baf7f382babd",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Add Pessoa",
        "func": "const id = flow.get(\"ideditado\");\n//let idusuario = msg.payload.insertId\nlet idp = msg.idp;\n\nlet restel = \"\";\n\nidp.forEach(function(element) {\n    restel += `,(NULL,${id},\"${element}\")`\n    //Cada conjuto de dados tem que ser separado por uma virgula\n});\n\nrestel = restel.substring(1);\n//Remove o caracter da primeira posição no caso a virgula\n//Cuidado com espaço na frente do conteudo\nconst query = `INSERT INTO contatofornecedor VALUES ${restel}`;\nmsg.topic = query;\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "b253b79a28e10f4d"
            ]
        ]
    },
    {
        "id": "b253b79a28e10f4d",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 500,
        "y": 1000,
        "wires": [
            [
                "811a30d67b5b0039",
                "8d75d9548bceddb0"
            ]
        ]
    },
    {
        "id": "9534a59df91aee3b",
        "type": "switch",
        "z": "a45fc121946bb817",
        "name": "Tem Pessoa?",
        "property": "idp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 100,
        "y": 1000,
        "wires": [
            [
                "59f9baf7f382babd"
            ],
            [
                "5a242b1382b4f66d"
            ]
        ]
    },
    {
        "id": "5a242b1382b4f66d",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 290,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8d75d9548bceddb0",
        "type": "debug",
        "z": "a45fc121946bb817",
        "name": "Editar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ccbdf606c3954df5",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 1160,
        "wires": []
    },
    {
        "id": "abdf9cc14d84b874",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Delete Pessoas",
        "func": "const id = flow.get(\"iddeletado\");\n\nmsg.topic = `DELETE FROM contatofornecedor WHERE n_fornecedor_fornecedor = \"${id}\"`;\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1160,
        "wires": [
            [
                "644e0c31188084c2"
            ]
        ]
    },
    {
        "id": "644e0c31188084c2",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 500,
        "y": 1160,
        "wires": [
            [
                "ccbdf606c3954df5",
                "558efa20f6d3a1da"
            ]
        ]
    },
    {
        "id": "9ce8e539676f4dc1",
        "type": "switch",
        "z": "a45fc121946bb817",
        "name": "Tem pessoa?",
        "property": "id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 90,
        "y": 1160,
        "wires": [
            [
                "abdf9cc14d84b874"
            ],
            [
                "f2007f202c4fd759"
            ]
        ]
    },
    {
        "id": "f2007f202c4fd759",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 290,
        "y": 1200,
        "wires": []
    },
    {
        "id": "558efa20f6d3a1da",
        "type": "debug",
        "z": "a45fc121946bb817",
        "name": "Deletar",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1200,
        "wires": []
    },
    {
        "id": "0b4de76a564b67f9",
        "type": "http in",
        "z": "a45fc121946bb817",
        "name": "",
        "url": "/mostrarcontatofornecedor/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "c40dae086f95a152"
            ]
        ]
    },
    {
        "id": "d8f68eabed7ff1ad",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "c40dae086f95a152",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Mostrar Contato do Fornecedor",
        "func": "let id = msg.req.params.id;\n\nmsg.topic = `SELECT n_pessoa_pessoa FROM contatofornecedor WHERE n_fornecedor_fornecedor = \"${id}\"`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 440,
        "wires": [
            [
                "276f071859569803"
            ]
        ]
    },
    {
        "id": "276f071859569803",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 720,
        "y": 440,
        "wires": [
            [
                "c193c52821a8e1d4",
                "d8f68eabed7ff1ad"
            ]
        ]
    },
    {
        "id": "c193c52821a8e1d4",
        "type": "debug",
        "z": "a45fc121946bb817",
        "name": "Mostra Contato do Fornecedor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "640dec8b46daa8ee",
        "type": "http in",
        "z": "a45fc121946bb817",
        "name": "",
        "url": "/mostrarnomecontatofornecedor/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "70071706b03347ac"
            ]
        ]
    },
    {
        "id": "e04a66d4747a6e8f",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "70071706b03347ac",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Mostrar Nome Contato do Fornecedor",
        "func": "let id = msg.req.params.id;\n\nmsg.topic = `SELECT n_pessoa_pessoa, s_nome_pessoa FROM pessoa WHERE n_pessoa_pessoa = \"${id}\"`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "60ac95652a77e6af"
            ]
        ]
    },
    {
        "id": "60ac95652a77e6af",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 720,
        "y": 520,
        "wires": [
            [
                "1223aac1102bfe02",
                "e04a66d4747a6e8f"
            ]
        ]
    },
    {
        "id": "1223aac1102bfe02",
        "type": "debug",
        "z": "a45fc121946bb817",
        "name": "Mostra Nome do Contato Fornecedor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 560,
        "wires": []
    },
    {
        "id": "184a25b01cf6806e",
        "type": "http in",
        "z": "a45fc121946bb817",
        "name": "",
        "url": "/deletepessoaadd/:idp/:idf",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "010fa4be10fec623"
            ]
        ]
    },
    {
        "id": "c05c0cc5454d50d4",
        "type": "http response",
        "z": "a45fc121946bb817",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "010fa4be10fec623",
        "type": "function",
        "z": "a45fc121946bb817",
        "name": "Deletar Pessoa Add",
        "func": "let idf = msg.req.params.idf;\nlet idp = msg.req.params.idp;\n\nmsg.topic = `DELETE FROM contatofornecedor WHERE n_fornecedor_fornecedor = ${idf} AND n_pessoa_pessoa = \"${idp}\"`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 600,
        "wires": [
            [
                "e3d4e524b948d4ac"
            ]
        ]
    },
    {
        "id": "e3d4e524b948d4ac",
        "type": "mysql",
        "z": "a45fc121946bb817",
        "mydb": "a9f8cb086f96e4e8",
        "name": "",
        "x": 720,
        "y": 600,
        "wires": [
            [
                "ca4266fd29f503fa",
                "c05c0cc5454d50d4"
            ]
        ]
    },
    {
        "id": "ca4266fd29f503fa",
        "type": "debug",
        "z": "a45fc121946bb817",
        "name": "Delete Telefone",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 640,
        "wires": []
    }
]